
@font-face {
	font-family: 'Sofiapro';
	src: local('Sofiapro'), url('Fonts/Sofiapro/sofiapro-light1-webfont.woff') format('woff'),
							url('Fonts/Sofiapro/sofiapro-light.otf') format('truetype');}

*{
	font-family: 'Sofiapro';}

body{
	background-color: rgb(27,27,27);
}

li{
	list-style: none;
}
h1{
	text-align: center;
	background-color: white;
	padding: 10px;
	background-color: rgb(177,210,43);
}

button{
	font-size: 0.5vw;

}

a:hover{
	text-decoration: none;
	color: red;
}

/*.talla {
  list-style-type: none;
}

.talla li {
  float: left;
}


.talla input[type="radio"] {
	margin-right: 20px;
    opacity: 0.01;
    position: absolute;
}

.talla input[type="radio"]:checked+label,
.Checked+label {
  background-color: rgb(98,107,115);
}


.talla label:hover {
	transition: all 0.3s ease-in-out;
    background: #DDD;
}

.talla label{
	margin: 2px;
	padding: .25rem .5rem;
}*/

.productName{
	font-size: 1.5vw;
	color: rgb(177,210,43);
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	margin:auto;
	margin-top: 3px;
	font-weight: 500;

}
.productPrice{
	width: 100%;
	font-weight: bold;
	font-size: 20px;
	color: rgb(30,150,30);
}

.add-cart{
	text-align: end;
	display: initial;
	position: absolute; 
    width: 75%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    text-align: center;
    font-size: 1.5vw;	
    font-weight: bold;
    padding: 3% 0;
    /*bottom: 10px;*/
    top: 1vw;
    margin: 0;
    border-radius: 4px 4px 0 0;
}
.producto:hover .add-cart{
	opacity: 0.9;
    text-decoration:none;
   	top: 0;
   /*top: 14vw;*/
}
	

@media (min-width: 720px){
	.contenido{
		text-align: center;
		margin: auto;
		width: 60%;

	}
	.imgPr{
		width: 75%;	
		border: 3px solid rgb(80,80,80);
	}
	.producto{
		/*display: grid;*/
		width: 33.3%;
		float: left;
		/*background-color: rgb(50,50,50);*/
		position: relative;
		border: 6px solid rgb(27,27,27);
		height: 23vw;
	}
}

@media (max-width: 719px){
	.contenido{
		text-align: center;
		margin: auto;
		width: 95%;
		margin-bottom: -100%;
	    padding-bottom: 100%;
	    overflow: hidden;
	}
	.imgPr{
		width: 30vw;
		margin: auto;
		margin-top: 10px;
	}
	.producto{
		display: grid;
		width: 44.8vw;
		float: left;
		background-color: white;
		margin: 0.5vw;
		position: relative;
		/*height: 33vh;*/
	}

	.productName{
	font-size: 4vw;
	}

	button{
	font-size: 0.5vw;
	}

	.add-cart{
		width: 100%;
		font-size: 2vw;
		top: 0;
	}

}
}


